<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>预约登记</title>
</head>
<body>
    <table>
        <thead>
            <tr>
             <th><input type="checkbox" id="action-toggle"></th>
             <th>预约单号</th>
             <th>客户姓名</th>
             <th>联系电话</th>
             <th>车排号</th>
             <th>预约时间</th>
             <th>备注信息</th>
            </tr>

        </thead>
        <tbody>
            {% for context in contexts %}
             <tr>
                <td><input type="checkbox" id="action-toggle"></td>
                <td>{{ context.yid }}</td>
                <td>{{ context.name }}</td>
                <td>{{ context.mobile }}</td>
                <td>{{ context.cid }}</td>
                <td>{{ context.ytime }}</td>
                <td>{{ context.bei_info }}</td>

             </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    {{ errors }}
    <form action="/" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="登记">
    </form>
</body>
</html>